<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" >
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <!-- Nav -->
    <nav class="navbar navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('main_browse') }}">spotshow<span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-item d-flex justify-content-around">
            <a class="nav-link" href="{{ path('serie_index') }}">Séries</a>
            <a class="nav-link" href="{{ path('film_index') }}">Films</a>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <button type="button-inline" class="btn btn-light"><a href="{{ path('main_add') }}">Ajouter un spotshow !</a></button>
        </form>
    </nav>
        {% block body %}{% endblock %}

    <!-- Footer -->
    <div class="card-footer d-flex justify-content-center">
      <small class="text-muted">made with &#9829</small>
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
